body{
    background-color: aqua;
    margin:  0;
    padding: 0;
}
#form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 21px;
    padding: 60px;
}
h1{
    text-align: center;
    color: aqua;
}
#form button{
    background-color: aqua;
    color: aliceblue;
    border: 1px solid aqua ;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}
.inputgroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.inputgroup input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 15px ;
    padding: 10px;
    border: 1px solid aqua;
}
.inputgroup input:focus{
    outline: 0;
}
.inputgroup .error{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}
.inputgroup.success input{
    border-color: green;
}
.inputgroup.error input{
    border-color: red;
}





















